@media (min-width: 32.5em) {
	.navigation {
		display:flex;
	}
	
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation a {
		text-align:center;
		font-size: 1.1rem;
	}

	.navigation li:first-child {
		display:none;
	}
}