@charset "UTF-8"; /* not necessary */

/* Color Pallette Light Cornflower Blue #8ecae6, Blue Green #219ebc, Prussian Blue #023047, Selective Yellow #ffb703, 
Tangerine #fb8500, Jet #333333, Davy Grey #5c5c5c, Culutured #f5f5f5, Light Grey #cccccc */
body {
	max-width: 960px;
	margin: 0 auto;
	padding: 5px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Lexend Deca', 'Roboto Mono', sans-serif;
	
}

header, footer {
	background-color: #5c5c5c;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	border: 2px solid #333333;
	padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 130px;
	height: auto;
}

.headings {
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:flex-start;
	margin-left:-364px;
}

.headings h1 {
	font-size: 2rem;
	color: #f5f5f5;

}

.headings h2 {
	padding: .5rem;
	color: #023047;
}

.social {
	display: flex;
	align-items:flex-start;
	flex-direction: row;
}

.social img {
	width:30px;
	height: auto;
}

.date {
	margin: 0.5rem;
	border: 1px solid #333333;
	padding: 0.75rem;
	background-color: #5c5c5c;
	color: #f5f5f5;
}

.banner {
	border:1px solid #333333;
	padding:0.25rem;
	margin: 0.25rem;
	color:#ffb703;
	display:flex;
	align-items:center;
}

h3 {
	color: #f5f5f5; 
}
h4 {
	color: #023047;
}
h5{
	color:#f5f5f5;
}

p {
	padding: .5rem;
	color: #023047;
}

nav {
	background-color: #023047;
	text-align: center;
	box-shadow: 0 0 30px #333;
	display: flex;
	flex: 1 1 100%;
}

.navigation {
	display:flex;
	width:100%;
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display:block;
}

.navigation li {
	display: none;
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: #f5f5f5;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

.navigation a.ham::before {
	content:"";
}

.navigation a:hover {
	background-color: #cccccc;
	color: #fb8500;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "X ";
}
nav button {}

main {
	display: grid;
}
	.event{
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.weather {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.weather li {
		max-width:960px;
		padding: 1 em;
	}
	
	.join {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.hero {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.news {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.spotlight1 {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.spotlight2 {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.spotlight3 {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

.map iframe {
	width:200px;
	height:auto;
}

.logofooter img {
	width: 100px;
	height: auto;
}

/* discover page */
.discover {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.discover figure {
grid-column: 1;
padding: .5em;
margin: .5em;
}

.hover:hover {
box-shadow: 0 0 50px #5c5c5c;
}


