@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

/* Color Pallette Light Cornflower Blue #8ecae6, Blue Green #219ebc, Prussian Blue #023047, Selective Yellow #ffb703, 
Tangerine #fb8500, Jet #333333, Davy Grey #5c5c5c, Culutured #f5f5f5, Light Grey #cccccc */
body {
	max-width: 960px;
	margin: 0 auto;
	padding: 5px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Lexend Deca', 'Roboto Mono', sans-serif;
	
}

header, footer {
	background-color: #5c5c5c;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	border: 2px solid #333333;
	padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 130px;
	height: auto;
}

/* changed from .headings to header and all code is now working???? */
.headings {
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:flex-start;
	margin-left:-364px;
}

.headings h1 {
	font-size: 2rem;
	color: #f5f5f5;

}

.headings h2 {
	padding: .5rem;
	color: #023047;
}

.social {
	display: flex;
	align-items:flex-start;
	flex-direction: row;
}

.social img {
	width:30px;
	height: auto;
}

.date {
	margin: 0.5rem;
	border: 1px solid #333333;
	padding: 0.75rem;
	background-color: #5c5c5c;
	color: #f5f5f5;
}

.banner {
	border:1px solid #333333;
	padding:0.25rem;
	margin: 0.25rem;
	color:#ffb703;
	display:flex;
	align-items:center;
}

h3 {
	color: #f5f5f5; 
}
h4 {
	color: #023047;
}
h5{
	color:#f5f5f5;
}

p {
	padding: .5rem;
	color: #023047;
}

nav {
	background-color: #023047;
	text-align: center;
	box-shadow: 0 0 30px #333;
	width: 100%;
	display: flex;
	flex-direction: row;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #f5f5f5;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #cccccc;
	color: #fb8500;
}

	.event{
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.weather {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.join {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.hero {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.news {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.spotlight1 {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.spotlight2 {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

	.spotlight3 {
		max-width:960px;
		padding: 1em;
		border: 1px solid #333333;	
	}

.map iframe {
	width:200px;
	height:auto;
}

.logofooter img {
	width: 100px;
	height: auto;
}

