body {
  font-size: 7px;
  line-height: 1;
  
}

header, nav, main, footer {
  margin: 1.25rem auto;
  max-width: 650px;
  font-family: 'Lexend Deca', sans-serif;
}

header, footer {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 1rem;
}

header {
  display: flex;

}

header img {
  width: 200px;
  height: auto;
  float: right;
  border: 1px solid #0000;
}

h1 {
  font-size: 22px;
  padding: 2rem;
  text-align: center;
  font-family: 'Courier Prime', monospace;
}